* {
	margin: 0;
	padding: 0;
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1);
	}
}

.pulsing-logo {
	animation: pulse 1.5s ease-in-out infinite;
}
@keyframes rotateVertical {
	0% {
		transform: rotateY(0deg);
	}

	100% {
		transform: rotateY(360deg);
	}
}

.rotating-text {
	display: inline-block;
	animation: rotateVertical 6s infinite;
	transform-origin: center;
}

.container {
	text-align: center;
	width: 100%;
}
